<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.austin.layouts">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Guess that Game"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="Guess that Game">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity">

        </activity>

        <activity android:name=".SettingsActivity">

        </activity>

    </application>

</manifest>
